<div class="sticky-top bg-primary d-print-none">
    <div class="container">

        {% if constant('BaksDev\\Menu\\Admin\\BaksDevMenuAdminBundle::NAMESPACE') is defined %}
            {{ render_menu_admin() }}
        {% endif %}

    </div>
</div>
